body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: "Inconsolata", monospace;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?nature,water");
  font-size: 120%;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 0em;
  /* Neumorphism */
  /* box-shadow: inset 35px 35px 70px #000000e0, inset -35px -35px 70px #000000b0; */
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;

  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 80px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

/* Magic Card */
/* ---------- */
/* ---------- */

/* Shine */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

/* :root {
  --card-height: 105vh;
  --card-width: calc(var(--card-height) / 1.5);
} */

.cardS {
  /*   background: #fff; */
  padding: 0.02em 0.02em;
  position: relative;
  border-radius: 30px;
  width: 100%;
  max-width: 500px;
  margin: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  /*   color: rgb(88 199 250 / 0%); */
  z-index: 0;
}

.cardS:hover {
  /*   color: rgb(88 199 250 / 100%); */
  transition: color 0s;
}
.cardS:hover:before,
.cardS:hover:after {
  animation: none;
  opacity: 0;
}

.cardS::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  /*   background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  ); */
  position: absolute;
  z-index: -1;
  animation: spin 2.5s linear infinite;
}

.cardS::after {
  border-radius: 30px;
  position: absolute;
  content: "";
  top: calc(var(--cardS-height) / 6);
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
  /*   filter: blur(calc(var(--cardS-height) / 2)); */
  filter: blur(4px);

  /* 1 corner animation */
  background-image: linear-gradient(
    var(--rotate),
    #e91f58,
    #bf52ad0d 5%,
    #0000000d
  );
  /*   background: rgb(67,126,246); */
  /* background: linear-gradient(90deg, rgba(67,126,246,1) 35%, rgba(149,76,244,1) 100%); */
  opacity: 0.5;
  /*   transition: opacity 0.2s cubic-bezier(.17,.67,.83,.67); */
  transition: opacity 500ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: spin 20000ms ease-in-out infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/*    Waves   */
/* ---------- */
/* ---------- */

/* html,
body {
  height: 100%;
}

html {
  background: #eee;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.box {
  width: 100%;
  height: 5em;
  border-radius: 0.2em;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 1.5em;
  /*   display: none; */
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #ffffff80;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: 1.5em;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 12000ms infinite linear;
  z-index: -1;
}

.wave.-three {
  animation: drift 20000ms infinite linear;
}

.wave.-two {
  animation: drift 28000ms infinite linear;
  opacity: 0.1;
  background: #f6f6f6;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 15em;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
