/* 13. Opened developer tools in the browser. docked on the right */
/* 14. Make the <body> a flex box
14.1 Press the `+` icon named "New Style Rule"
14.2 display -> justify-content -> align-items -> height -> margin(set to 0 -> we don't want to go over the view port height) -> background */

/* 15.Now style the card
15.1 Add New Style Rule after selecting the card
width set to 100%, max-width set to 420px (so it applies to all views)-responsive -> add margin*/

/* 16. Click on "inspector.stylesheet" and -> copy into style.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  /* 17. Now we want fonts -> go to google fonts and -> get Open Sans
    17.1 Select the <link> style and copy into head in index.html */
  /* 17.2 adding the CSS rules from google font into ".body" after copying into <head> -? below the <title> */
  font-family: "Inconsolata", monospace;
  font-family: "Open Sans", sans-serif;
  /* 19.2 -> from index.html -> source.unsplash.com
  19.3 -> add "background-image" url('https://....') */
  /*  ====> ! **single** parenthesis?????????? -> prettier changes it to `"` while saving */
  background-image: url("https://source.unsplash.com/1600x900/?nature,water");
  /* 27. make everything bigger - original font size is also 120% */
  font-size: 120%;
  /* ! 28. Removing the margin around .temp in the ===> INSPECTOR
    add to the bottom as they appear on the page*/
}

.card {
  /* 20. Styling the card now bg(adding transparency with d0) and text color */
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

/* 21. Styling the Search box */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* ! 22. Fir margins ==> GO To Inspector in Browser*/
  /* Need margin around inner elements */
  /* ! 23. Search border radius is half of its height  */
}
/* 24. :hover on search button (INSPECTOR)
 */
/* ! 24.1 Create "+" New Style Rule for Button */
/* 24.2 -> Apply the :hov and select :hover in the inspector */
/* 24.3 temporarily disable the [] hover toggle int the ":hov: menu and
 then move the mouse over the search button */

/* ! 25. Clicked the inspector.stylesheet and copying here now */
button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  /* 29.2 Decreased the size to match the search input */
  /* ! 29.3 Clicked on style.css-stylesheet in INSPECTOR and copying everything here */
  /* ! 29.4 NOW TIME FOR API ==> script.js */
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  /* 29.1 Decreased the padding  */
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  /* ! 25.1 calc used -> "- 80px is for space for the search button */
  /* 26. Now going to -> index.html and adding a placeholder in -> search-bar */
  width: calc(100% - 80px);
}

button:hover {
  background: #7c7c7c6b;
}

/* 28.1 Copying the style from INSPECTOR here -> Maintain order on page */
h1.temp {
  margin: 0;
}
